.details {
    background-color: transparent;
    border-radius: 8px;
    overflow-y: auto;
    font-family: "Segoe UI", sans-serif;
    width: 100%;

}

.detailsHeader {
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}

.detailsHeader h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    color: var(--color-primary);
}

.section {
    margin-bottom: 1.5rem;
}

.section h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 0.5rem;
}

.section p {
    margin: 0.2rem 0;
    color: #4b5563;
    font-size: 0.95rem;
}

.section2 {
    text-align: left;
    margin-bottom: 1.5rem;
}

.section2 h4 {
    font-size: 14px;
    font-weight: 800;
    color: var(--color-secondary);
    margin-bottom: 0.5rem;
    font-style: italic;
}

.section2 p {
    margin: 0.2rem 0;
    color: var(--color-secondary);
    font-size: 14px;
    font-weight: 600;
}

.dataList li {
    margin-bottom: 6px;
}

.dataList strong {
    color: #1f2937;
}

.suggestionList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestionItem {
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    border-left: 4px solid var(--color-secondary);
    background-color: var(--color-bg);
}

.suggestionItem a {
    color: var(--color-secondary);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
}

.suggestionItem a:hover {
    color: var(--color-primary);
}

.suggestionItem p {
    margin: 6px 0;
    line-height: 1.4;
}


.reasoning {
    font-size: 14px !important;
    color: var(--color-description) !important;
    margin: 0 0 12px !important;
    text-align: justify;
    line-height: 1.4 !important;
    font-weight: 600 !important;
}

.reasoning_error {
    font-size: 14px !important;
    color: var(--color-primary) !important;
    margin: 0 0 12px !important;
    text-align: center;
    line-height: 1.4 !important;
    font-weight: 600 !important;

}

.programLink {
    color: var(--color-secondary);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    font-weight: 700;
}

.suggestionItem strong {
    color: var(--color-secondary);
    font-size: 17px;
}