.footer {
  width: 100%;
  background-color: var(--color-bg);
  color: #555;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900;
  font-weight: 700;
}
